<!DOCTYPE html>


<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Blerp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="dragdrop.js"></script>
    <script src="levels.js"></script>
    <script src="gui.js"></script>
    <script src="engine.js"></script>
    <script src="sim.js"></script>
    <script src="indexes.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body onLoad="onLoad()">
    <div id="game" class="game" :click="selectedIndex=null" >
        <div class="container">
        <div id="menu" class="menu">
            <div class="gamebutton menubutton" @click="testSchema()">Test Schema</div>
            <div class="gamebutton  menubutton" @click="restartLevel()">Restart Level</div>
        </div>
        <div id="pallette" class="pallette">
            <div v-for='field in fields' @touchstart="mobileDragStart" @touchmove="mobileDrag" @touchend="mobileDragEnd"
                @dragstart="browserDragStart" @dragend="browserDragEnd" draggable=true class='gamebutton  pallette_field'>
                {{field}}
            </div>
        </div>

        <!-- Fake field show in mobile/touch drag-->
        <div v-if="dragField.visible" :style="{left: dragField.x+'px',top: dragField.y+'px'}" class="gamebutton  drag_field">
            {{dragField.text}} </div>

        <div class="board" id="board">
            <div class="sectionheader" id="collectionheader"> Collections </div>
            <div v-for='(collection,colidx) in collections' class='board_collection'
                :style="{left: collection.cX+'px',top: collection.cY+'px'}">
                <div v-for="(field,index) in collection.fields" class="gamebutton  board_field" @click="addIndex(colidx,index)" :style="{'background-color': colours[collection.color]}">
                    <template v-if="index === 0 && field !== fields[0]">_id: {{field}} </template>
                    <template v-else-if="collection.arrays.includes(field)">Array( {{field}} ) </template>
                    <template v-else> {{field}} </template>
                    <div @click.stop=" deleteField(colidx,index)" class="deletebutton">X</div>
                </div>
            </div>
        </div>

     
        <div v-if="flags.index" class="indexes" id="indexes"> 
            <div class="sectionheader"> Additional Indexes </div>
            <template v-for='(collection,colidx) in collections'>
                <div v-for='(index, indexidx) in collection.indexes' :class='{gamebutton:true, index:true, selectedindex: (index == selectedIndex)}' @click="selectIndex(colidx,indexidx)" :style="{'background-color': colours[collection.color]}">
                    {{ index}}
                    <div @click.stop="deleteIndex(colidx,indexidx)" class="deletebutton">X</div>
                </div>
            </template>
        </div>

        <div v-show="showSimulator" id="simulator" class="simulator">
            <div class="deletebutton dialogclose" @click.stop="closeSim()">X</div>
           
            <div class="labels">
               
                <div class="label"> CPU (%): <span class="value" id="cpu">{{simulator.cpu}}</span></div>
                <div class="label"> RAM (%): <span class="value" id="ram">{{simulator.ram}}</span></div>
                <div class="label"> Disk Util. (%): <span class="value" id="disk">{{simulator.disk}}</span></div>
              
                <div style="clear:left"  class="label"> Target ops/s: <span class="value" id="target">{{simulator.target}}</span></div>
            </div>
            <svg class="scrollgraph" id="simchart" ref="simchart"></svg>
            <div class="testdesc"> Measuring: {{simulator.desc}} - {{simulator.ops}} ops/s </div>
        </div>

        <div v-show="showDialog" id="dialogbackground" class="dialogbackground"></div>

        <div v-show="showMessageBubble" class="messagebubble" :style="{left: messageBubble.x +'%', top: messageBubble.y + '%' , width: messageBubble.w + '%'   }">
            <div class="deletebutton dislogclose" @click="closeMessage()">X</div>
            <span v-html="messageBubble.msg"></span>
        </div>
    </div>
    </div>
</body>
